<section class="container">
    
        <article class="post-card">
            <div class="jumbotron mb-0 d-flex justify-content-between align-items-center post-banner">
                <h2>{{post.post_name}}</h2>
            </div>
            <div class="container bg-light flex-row">
                <p>{{post.post_description}}</p>
                <div class="d-flex align-items-end">
                    <p class="ml-auto">Posted by {{post.User.username}} on {{post.date_created}}</p>
                </div>
            </div>
            <div class="bg-light">
                

            
    
        </article>
        <div>
        <article class="card">
            <div class="card-header">
                <h2>Comments</h2>
            </div>
        {{#each post.Comments}}
            <div>
                <h4>{{this.content}}</h4>

                <p>Posted by {{this.User.username}} at {{this.date_created}}</p>
            </div>

        {{/each}}

        </article>
        </div>
        <form data-post="{{post.id}}" data-user="{{post.userId}}" id="comment-form">
            <div>
                <input type="text" name="comment-input" id="comment-input">
                <label for="comment-input">Please enter your comment</label>
            </div>
            <button type="submit">Submit</button>
        </form>
</section>

<script src="/js/writeComment.js"></script>